
.thumbnail1 {
    width: 300px;
    display: block;
}

.searcher {
    font-size: 20px;
    margin-left: 12px;
    display: block;
}

.video-preview{
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
.profile-div{
    display: inline-block;
    width: 50px;
    vertical-align: top;

}
.profile-pic{
    width: 100%;
    border-radius: 50px;
    width: 40px;

}


.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;

}

.video-author ,.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96)
}

.video-author {
    margin-bottom: 4px;

}

.vid-info {
    display: inline-block;
    width: 200px;


}


.thumbnail-row {
    margin-bottom: 12px;
}

p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.test {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}


.gori-div{
    display: inline-block;
    width: 50px;


}
.goriPiic {
    width: 60px;
    height: 60px;   
    border-radius: 200px;
    margin-right: 12px;
    vertical-align: middle;
}
.pic-thing {
    display: inline-block;
    margin-left: 18px;
    vertical-align: middle; 


}


.goriNfo {
    width: 200px;
    margin-top: 0;
    margin-bottom: 4px;
}
.goriNfo2{
    width: 200px;
    margin-top: 0;
    margin-bottom: 4px;
    color: gray;
}

.tweet-div{
    display: inline-block;
    margin-left: 18px;
    vertical-align: middle; 
}
.tweet-button {
    background-color: rgb(41,118,211);
    color: white;
    border: none;
    border-radius: 7px;
    height: 36px;
    width: 80px;
    cursor: pointer;
    margin-right: 8px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0;
}



.div-amigo {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    border: 2px;
    border-style:initial;
    height: 300px;
    width: 200px;
    display: inline-block;
    padding: 20px 20px 20px 20px;
}


.amigo-pic-div{
    width: 200px;
    height: 200px; 
}


.gori2 {
    width: 100%;
    height: 100%; 

    object-position: center;
    margin-right: 12px;


}


.namer {
    font-weight: bold;
    font-size: larger;
    color: black;
}

.namer2 {
    color: gray;
    
}

.amigo {
    background-color: rgb(46, 93, 164);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    height: 35px;
    width: 200px;
    cursor: pointer;
    display: block;

}
