.thumbnail1 {
    width: 300px;

}

.searcher {
    font-size: 20px;
    margin-left: 12px;


}

.gori1 {
    width: 200px;
    border-radius: 20px;
    margin-right: 12px;


}

.gori2 {
    width: 200px;
    height: 200px;   
    object-position: center;

    margin-right: 12px;


}

.gori3 {
    width: 200px;
    height: 200px;   
    border-radius: 200px;
    margin-right: 12px;


}

.searcher2 {
    font-size: 20px;
    border-radius: 5px;



}

.searcher3 {
    font-size: 20px;
    width: 500px;
    border-radius: 20px;
    border-style: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);

}

.linkdenThing {
    font-size: 20px;
    width: 500px;
    border-style: solid;
    object-fit: contain;
    border-radius: 5px;

}

.linkdenIn1 {
    background-color: rgb(10,102,194);
    color: white;
    font-weight: bold;
    height: 45px;
    width: 500px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    margin-right: 8px;
    font-size: 15px;
    transition: background-color 0.15s;
}
.linkdenInText {
    color: gray;
}


.goriTweet {
    width: 60px;
    height: 60px;   
    border-radius: 200px;
    margin-right: 12px;
    vertical-align: middle;


}


.tweetBar {
    font-size: 20px;
    width: 300px;
    border-style: none;
    object-fit: contain;
    border-radius: 5px;
    vertical-align: middle;

}

.tweet-button {
    background-color: rgb(41,118,211);
    color: white;
    border: none;
    object-fit: contain;
    border-radius: 20px;
    height: 36px;
    width: 80px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    vertical-align: middle;

}