
.thumbnail1 {
    width: 300px;
    display: block;
}

.searcher {
    font-size: 20px;
    margin-left: 12px;
    display: block;
}

.video-title {
    width: 300px;
    display: block;
} 

.video-author ,.video-stats {
    display: inline-block;
}

.video-preview{
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
.redSquare{
    background-color: red;
    width: 100px;
    height: 100px;
    display:  inline-block;
}

.greenCircle{
    background-color: green;
    border-radius: 200px;
    width: 100px;
    height: 100px;
    display:  inline-block;
}

.service {
    border-style: solid;
    border-color: grey;
    width: 300px;
    vertical-align: middle;
    padding: 20px 20px 20px 20px;
}

.yt {
    border-style: none;
    background-color: rgb(39, 39, 39);
    width: 350px;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
}
.title-yt {
font-weight: bold;
font-size: large;
color: white;
}
.title-yt2 {
color: gray;
}

.goriTweet {
    width: 60px;
    height: 60px;   
    border-radius: 200px;
    margin-right: 12px;
    vertical-align: middle;


}


.tweetBar {
    font-size: 20px;
    width: 300px;
    border-style: none;
    object-fit: contain;
    border-radius: 5px;
    vertical-align: middle;

}

.tweet-button {
    background-color: rgb(41,118,211);
    color: white;
    border: none;
    object-fit: contain;
    border-radius: 20px;
    height: 36px;
    width: 80px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    vertical-align: middle;

}
.twt-div{
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);

    border: 2px;
    border-style:initial;
    width: 500px;
    padding: 10px 10px 10px 10px;
}

.gori2 {
    width: 200px;
    height: 200px;   
    object-position: center;
    margin-right: 12px;


}

.div-amigo {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    border: 2px;
    border-style:initial;
    height: 300px;
    width: 200px;
    display: inline-block;
    padding: 20px 20px 20px 20px;
}

.namer {
    font-weight: bold;
    font-size: larger;
    color: black;
}

.namer2 {
    color: gray;
    
}

.amigo {
    background-color: rgb(46, 93, 164);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    height: 35px;
    width: 200px;
    cursor: pointer;
    display: block;

}
